body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 800px;
  min-height: 200px;
  background: #e2eff5;
  border-radius: 5px;
}
h2 {
  padding-top: 25px;
  text-align: center;
  font-family: sans-serif;
}
.list-form {
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 25px;
}
.todo-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  width: 80%;
}
.button-wrapper {
  width: 20%;
}
.item-btn {
  width: 100%;
}
